.summary p {
    font-size: 30px;
    font-family: 'IM Fell DW Pica SC', serif;
}

.left-list {
    font-family: 'IM Fell DW Pica SC', serif;
    text-align: left;
}

.left-list li {
    font-weight: bold;
    font-size: 22px;
}
