.header {
    font-weight: bold;
}

.header-one {
    padding: 20px;
    font-size: 35px;
}

.header-two {
    padding: 10px;
    font-size: 25px;
}

.center-list {
    font-size: 22px;
    display: inline-block;
    width: 75%;
}

.center-list ul {
    text-align: left;
}
