body {
    background-image: radial-gradient(circle, #555555, black);
}

.left-list {
    text-align: left;
}

.header-one {
    padding: 20px;
    font-size: 35px;
    font-weight: bold;
}

.header-two {
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
}

.banner {
    height: 7%;
}

.navigation {
    display: inline-block;
}

.navigation div {
    background: black;
    opacity: 0.7;
    border: solid;
    border-width: 10px;
    border-bottom-width: 0px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 5px;
    float: left;
}

.navigation div a {
    text-decoration: none;
    color: white;
}

.body-panel {
    font-family: 'Ubuntu';
    display: inline-block;
    vertical-align: top;
    width: 20%;
}

.center-panel-container {
    justify-content: center;
    width: 60%;
}

.center-panel {
    border: solid;
    border-color: black;
    border-width: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    opacity: 0.7;
    text-align: center;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

.center-panel h1 {
    margin: 30px;
    color: black;
}

.center-panel p {
    padding: 5px;
    font-size: 22px;
    text-align: left;
}

.text {
    font-family: 'Ubuntu Mono';
    display: inline-block;
    width: 75%;
}

.text p {
    text-align: center;
}

.links p {
    text-align: center
}

.left-list li {
    font-weight: bold;
    font-size: 22px;
}
