body {
    background-image: url('background.jpg');
    background-position: center;
    background-attachment: fixed;
}

.body-panel-in {
    opacity: 0.8;
    animation-name: fadein;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

.body-panel-out {
    opacity: 0.8;
    animation-name: fadeout;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
}

@keyframes fadein {
    0% {
        opacity: 0;
        filter: blur(20px);
    }
    100% {
        opacity: 0.8;
        filter: blur(0px);
    }
}

@keyframes fadeout {
    0% {
        opacity: 0.8;
        filter: blur(0px);
    }
    100% {
        opacity: 0;
        filter: blur(20px);
    }
}

.banner {
    height: 7%;
}

#banner-link-left {
    float: left;
}

#banner-link-right {
    margin-top: 2px;
    margin-right: 2px;
    float: right;
    color: white;
}

#banner-link-right:hover {
    margin-top: 0px;
    margin-right: 0px;
    float: right;
    color: white;
    text-shadow: -1px -1px 0 #888, 1px -1px 0 #888, -1px 1px 0 #888, 1px 1px 0 #888;
    font-size: 17px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.navigation {
    display: inline-block;
    font-size: 20px;
}

.navigation-top div {
    color: white;
    background: black;
    opacity: 0.8;
    border-bottom-width: 0px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.navigation-top div:hover {
    cursor: pointer;
    background: linear-gradient(gray, black);
}

.navigation-bottom div {
    color: white;
    background: black;
    opacity: 0.8;
    border-bottom-width: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.navigation-bottom div:hover {
    cursor: pointer;
    background: linear-gradient(black, gray);
}

.body-panel {
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    width: 20%;
}

#center-panel {
    font-size: 22px;
    border: solid;
    color: white;
    border-color: black;
    border-width: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: black;
    opacity: 0.8;
    text-align: center;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

#center-panel h1 {
    margin: 30px;
    color: white;
}

#center-panel p {
    padding: 5px;
    text-align: left;
}

.center-panel-container {
    justify-content: center;
    width: 60%;
}

a {
    color: red;
}

a:visited {
    color: orange;
}

